header {
    width: 100%;
    position: relative;
}

header img {
    width: 350px;
    margin: 5px 5px 55px 5%;
    vertical-align: middle;
    display: inline-block;
}

header input {
    width: 200px;
    color: #333;
    padding: 5px;
    font-size: 1em;
    position: absolute;
    right: 5%;
    top: 35px;
}

nav {
    width: 100%;
    min-height: 40px;
    position: absolute;
    bottom: 0;
    background-color: #eee;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: -5px;
}

nav ul li a {
    padding: 5px 20px;
    display: block;
    color: #333;
    border-bottom: #eee 3px solid;
}

nav ul li a:hover {
    background-color: #fff;
    color: #4e2a84;
    border-bottom: #4e2a84 3px solid;
}

nav ul li a.active {
    background-color: #fff;
    color: #4e2a84;
    border-bottom: #4e2a84 3px solid;
}

.hero {
    height: 450px;
    background-image: url("../img/annenberg.jpg");
    background-size: cover;
    text-align: center;
    position: relative;
}

.hero-inner {
    width: 100%;
    height: 100%;
    background-color: #333;
    background-color: rgba(50,50,50,0.7);
}

.search {
    width: 70%;
    max-width: 700px;
    height: 170px;
    position: absolute;
    top: -25px; right: 0; bottom: 0; left: 0;
    margin: auto;
    color: #fff;
}

.search input {
    background-color: rgba(220, 220, 220, 0.9)!important;
    border: none;
    width: 85%!important;
    color: #333!important;
    padding: 5px;
    margin-left: 25px;
    font-size: 1.2em!important;
}

.search input:focus {
    outline: none;
}

.search .fa-search {
     position: relative;
     right: 35px;
     color: #999;
     font-size: 1.5em;
}

.input-filter {
    background-color: #fff;
    width: 45%!important;
    color: #333!important;
    padding: 5px 5px 5px 30px;
    margin-left: 6px;
    font-size: 1em;
    margin-bottom: 20px;
}

.input-filter:focus {
    outline: none;
}

.input-filter-icon {
     position: relative;
     left: 30px;
     bottom: 2px;
     color: #333;
     font-size: 1.5em;
}

.topics {
    padding: 20px;
    text-align: center;
    border-top: gold 3px solid;
}

.three-columns {
    width: 98%;
    margin: 0 auto;
    text-align: center;
}

.column {
    width: 28%;
    /*min-height: 300px;*/
    padding: 5px 5px 20px 5px;
    display: inline-block;
    margin: 5px;
    text-align: left;
    vertical-align: top;
}

.column h2 {
    font-size: 1.2em;
    color: #4e2a84;
    font-weight: bolder;
    padding: 0;
    line-height: 1.5em;
    border-bottom: 1px dotted #4e2a84;
}

.column p {
    font-size: 1em;
    line-height: 1.2em;
    color: #555;
}

.explore {
    font-size: 0.8em;
    text-align: right;
}

.explore a {
    color: #4e2a84;
    margin-right: 5px
}

.explore a:hover {
   margin-right: 0px;
    color: #927fb5;
    transition-duration: 0.5s;
}

.alert {
    color: gold;
}

.sitemap {
    background-color: #eee;
    padding: 5px 25px;
    margin-top: 20px;
    /*min-height: 250px;*/
}

.contact-block {
    margin-bottom: 15px;
}

.contact-block p {
    font-size: 0.85em;
    margin: 1px;
}

footer {
    background-color: #ccc;
    padding: 30px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.8em;
}

.listby {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    width: 80%;
}

.listby-label {
    display: inline-block;
    float: left;
    margin: 0 20px 0 0;
    padding: 5px 0 0 0;
}

.listby li {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 0 0 0;
    color: #333;
    font-weight: bold;
}

.listby li:hover {
    cursor: pointer;
    color: #4e2a84;
    border-bottom: 3px solid #4e2a84;
}

.listby li.active {
    color: #4e2a84;
    border-bottom: 3px solid #4e2a84;
}

aside {
    width: 30%;
    margin-left: 15px;
    vertical-align: top;
    display: inline-block;
}

.topics-filters {
    background-color: #eee;
    margin-right: 10px;
    margin-left: 0;
    
}

.topics-filters ul {
    list-style-type: none;
    /*margin-left: 10px;*/
    padding-left: 0;
}

.triangle {
    width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	
	border-left: 10px solid #4e2a84;
	position: absolute;
	right: -10px;
	top: 0;
	opacity: 0;
}

aside ul li a {
    font-size: 0.85em;
    padding: 5px;
    display: block;
    border-bottom: 1px dotted #fff;
    color: #333;
    font-weight: bolder;
    position: relative;
    line-height: 2;
}

aside ul li a.active .triangle {
    opacity: 1;
    transition-duration: 0.1s;
}

aside ul li a.active {
    background-color: #4e2184;
    color: #fff;
}

.mixing {
    width: 65%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.mix {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px dotted #999;
}

.mix h2 {
    font-size: 1.2em;
    margin: 0;
    line-height: 1.5em;
}

.mix p {
    line-height: 1.2em;
    font-size: 0.9em;
}

.mix .subheader, .subheader {
    font-size: 0.7em;
    color: green;
    margin-bottom: 10px;
}

.subheader a {
    color: green;
}

.info-page-header {
    padding-bottom: -25px;
    border-bottom: 1px solid #555;
    margin-bottom: 15px;
}

.breadcrumbs {
    font-size: 0.8em;
    margin: 10px 0 -15px 0;
    color: #555;
}

.related-container {
    border-top: 2px solid #dedede;
    margin-bottom: 55px;
    margin-top: 30px;
}

.related-container h4 {
    font-weight: 400;
}

.related {
    text-align: left;
}

.related-info {
    border: 1px solid #dedede;
    padding: 15px;
}

.related p {
    color: #777;
    line-height: 1.2em;
    font-size: 0.9em;
}

.related a {
    font-weight: 300;
}

.related h5 {
    margin: 0;
}

.related .subheader {
    font-size: 0.7em;
}

table td {
    vertical-align: top;
}

.year {
    font-size: 0.7em;
    color: #999;
    vertical-align: top;
}

.title {
    line-height: 1;
}

.author {
    font-size: 0.8em;
    color: #666;
    margin-top: -8px;
    font-style: italic;
}

.category {
    font-size: 0.8em;
    line-height: 1;
    color: #555;
    text-align: right;
}

.download {
    text-align: center;
}

.sorter-table {
    margin-bottom: 20px;
    background-color: #555;
    color: #fff;
    font-weight: 500;
    font-size: 0.9em;
}

.sorter-table td {
    padding: 0 5px;
    cursor: pointer;
    position: relative;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid rgba(150,150,150,0.8);
	position: absolute;
	bottom: -5px;
	left: 40%;
	right: 50%;
}

.hover {
    position: absolute;
    top: -20px;
    left: -10px;
    background-color: rgba(150,150,150,0.8);
    color: #fff;
    font-size: 0.6em;
    width: 100%;
    min-width: 75px;
    max-width: 100px;
    padding: 1px 2px;
    border-radius: 5px;
    text-align: center;
    display: none;
}

.sorter-table td:hover .hover {
    display: block;
}

.mp-table td {
    padding: 5px;
}

.column-title {
    font-weight: 700;
    border-bottom: 1px dotted #4e2a84;
    margin-top: 10px;
}

.clear {
    font-size: 0.5em;
    background-color: #999;
    padding: 2px 3px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
    bottom: 2px;
}

.clear:hover {
    background-color: #333;
    color: #fff;
}

.clear a {
    color: #fff;
    font-weight: lighter;
}

.featured:hover {
    font-weight: bolder;
    border-bottom: 1px solid #4e2a84;
}

.featured.active {
    font-weight: bolder;
    color: #333;
    border-bottom: 1px solid #999;
}

.tag-list {
    list-style-type: none;
    padding-left: 0;
}

.tag-list li {
    display: inline-block;
}

.tag-list li a {
    padding: 2px 4px;
    margin: 2px;
    background-color: #ddd;
    font-size: 0.6em;
    border-radius: 5px;
}

.tag-list li a:hover,
.tag-list li a:active {
    background-color: #4e2a84;
    color: #fff;
}

.tag-list.active {
    background-color: #4e2a84;
    color: #fff;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  
  align-items: flex-start;
  
  height: auto;
  margin: 0 auto;
}

.book {
  background: tomato;
  width: 150px;
  height: 225px;
  margin: 10px;
  position: relative;
}

.book:hover .book-hover {
  display: block;
}

.book > img {
  width: 150px;
  height: 225px;
}

.book-hover {
  background: rgba(0, 0, 0, 0.8);
  width: 140px;
  height: 215px;
  padding: 5px;
    
  color: white;
  text-align: center;
  
  position: absolute;
  top: 0;
  left: 0;
  
  display: none;
}

.book-hover h2 {
  font-size: 0.8em;
  margin: 13% 0px 8px 0px;
  padding: 0;
  line-height: 20px;
}

.book-hover p {
  margin: 0;
  padding: 0;
  font-size: 0.6em;
  line-height: 18px;
  margin-bottom: 8px;

}

.book-hover a {
  border-radius: 50%;
  padding: 6px 6px 4px 6px;
  border: solid 1px #aaa;
}

.book-hover a:hover {
  background-color: #ddd;
}

.flip {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}