---
layout: meetup-page
title: Frequently Asked Questions
faqs:
  - question: Is the MSHE MeetUps program offered every quarter?
    answer: 'The MSHE MeetUp currently runs fall, winter, and spring quarters only.'
    students: true
    alumni: true
  - question: Who picks who my partner will be?
    answer: 'The MSHE office make matches based on the information provided in the interest forms for both the Alumna/us and Student. We will do our best to match you with an alumni partner that meets the preferences you express when you sign up. While we cannot guarantee a perfect fit, we hope the opportunity to participate in multiple Meet-Ups throughout your MSHE career will enable you to meet your learning objectives.'
    students: true
    alumni: true
  - question: Do we have to meet in person?
    answer: 'MSHE MeetUps can be complete in person or virtually. If both student and alumna/us are located in the Chicago area, we encourage you to take advantage of an in person meeting, but your are not required to.'
    students: true
    alumni: true
  - question: What do I do if my assigned student never reaches out to me?
    answer: 'All students have been strongly encouraged to take the MeetUp seriously and to make first contact with you. However, if you have not heard from a student after the cutoff time, please feel free to reach out to the student directly or to Audra Nelson who can talk to the student on you behalf.'
    students: false
    alumni: true
  - question: Am I garunteed a match every quarter?
    answer: 'We hope everyone can get as much out of the MSHE MeetUps program as possible and we do our best to match as many alumna/us who signup with students as possible. However, in the past, we have had more alumni sign up than current students and so not every alumna/us has gotten a student match every quarter. The MSHE office make matches based on the information provided in the interest forms for both the Alumna/us and Student.'
    students: false
    alumni: true
  - question: Can I request a change in my match if I am not happy with it?
    answer: 'Sign-ups to meet with an alum will be honored on a first-come, first-served basis. We will do our best to match you with an alumni partner that meets the preferences you express when you sign up. While we cannot guarantee a perfect fit, we hope the opportunity to participate in multiple Meet-Ups throughout your MSHE career will enable you to meet your learning objectives.'
    students: true
    alumni: false
  - question: How long do MeetUps last?
    answer: 'Expect one-on-one conversations that last no longer than one hour. Students should make the initial contant and coordinate a MeetUp at a place and time that is most convenient for the alumna/us.'
    students: true
    alumni: true
---

<ul class="listby">
    <li class="filter" data-filter=".student">Student</li>
    <li class="filter" data-filter=".alumni">Alumna/us</li>
</ul>

<div class="FAQs">
    {% for item in page.faqs %}<div class="mix {% if item.students == true %}student{% endif %} {% if item.alumni == true %}alumni{% endif %}" data-name="{{ item.question }}">
        <h4>Q: {{ item.question }}</h4>
        <p>A: {{ item.answer }}</p>
    </div>{% endfor %}
</div>