---
layout: meetup-page
title: Frequently Asked Questions
faqs:
  - question: Is the MSHE MeetUps program offered every quarter?
    answer: 'The MSHE MeetUp currently runs fall, winter, and spring quarters only.'
    students: true
    alumni: true
  - question: Who picks who my partner will be?
    answer: 'The MSHE office make matches based on the information provided in the interest forms for both the Alumna/us and Student. We will do our best to match you with an alumni partner that meets the preferences you express when you sign up. While we cannot guarantee a perfect fit, we hope the opportunity to participate in multiple Meet-Ups throughout your MSHE career will enable you to meet your learning objectives.'
    students: true
    alumni: true
  - question: Do we have to meet in person?
    answer: 'MSHE MeetUps can be complete in person or virtually. If both student and alumna/us are located in the Chicago area, we encourage you to take advantage of an in person meeting, but your are not required to.'
    students: true
    alumni: true
---

<ul class="listby">
    <li class="filter" data-filter=".student">Student</li>
    <li class="filter" data-filter=".alumni">Alumna/us</li>
</ul>

<div class="FAQs">
    {% for item in page.faqs %}<div class="mix {% if item.students == true %}student{% endif %} {% if item.alumni == true %}alumni{% endif %}">
        <h4>{{ item.question }}</h4>
        <p>{{ item.answer }}</p>
    </div>{% endfor %}
</div>