<h3>Definition</h3>
<p>The Abstract should be:</p>
<ul>
<li>120 words or&nbsp;less</li>
<li>1-2&nbsp;sentences to&nbsp;introduce</li>
<li>1&nbsp;sentence&nbsp;to explain the methods</li>
<li>1-2 sentences to&nbsp;explain findings or&nbsp;importance</li>
</ul>
<p><strong>Qualities of a Good Abstract:</strong></p>
<ul>
<li>Is concise &ndash; no more than 120 words in length</li>
<li>Includes the main areas of your master&rsquo;s project:</li>
<li>Purpose, RQ (or summarized RQ), importance of the study, methods, results and key findings, conclusion</li>
<li>Follows the same order/chronology of your master&rsquo;s project</li>
<li>Provides logical connections between the information presented</li>
<li>Adds no new information &ndash; just summarizes</li>
<li>Contains key information to entice the reader to read the rest of your paper.</li>
</ul>
<p><strong>Try to Avoid:</strong></p>
<ul>
<li>Copying key sentences from your MP: too much or too little information.</li>
<li>Starting with &ldquo;This paper&rdquo; or &ldquo;This report&rdquo; &ndash; just write about the research</li>
<li>Explaining sections of the paper</li>
<li>Starting sentences with &ldquo;It is suggested that . .&rdquo; or &ldquo;It is believed that . .&rdquo;</li>
<li>Abbreviations, acronyms if possible</li>
</ul>
<h3>Purpose</h3>
<h3>Process</h3>
