<h3>Definition</h3>
<p>The abstract should be:</p>
<ul>
<li>120 words or&nbsp;less</li>
<li>1-2&nbsp;sentences to&nbsp;introduce the research topic and question</li>
<li>1&nbsp;sentence&nbsp;to explain the data collection methods</li>
<li>1-2 sentences to&nbsp;explain the findings and&nbsp;importance of the study</li>
</ul>
<h3>Process</h3>
<p>Qualities of a Good Abstract:</p>
<ul>
<li>Is concise &ndash; no more than 120 words in length</li>
<li>Includes the main components of your project:</li>
<ul>
<li>Purpose, research question (or summarized research question), importance of the study, methods, results and key findings, conclusion</li>
</ul>
<li>Follows the same order/chronology of your project</li>
<li>Provides logical connections between the information presented</li>
<li>Adds no new information &ndash; just summarizes</li>
<li>Contains key information to entice the reader to read the rest of the paper</li>
</ul>
<p>Avoid:</p>
<ul>
<li>Copying key sentences from your MP: this tends to result in too much or too little information</li>
<li>Starting with &ldquo;this paper&rdquo; or &ldquo;this report&rdquo; &ndash; just write about the research</li>
<li>Explaining the sections of the paper (e.g. &ldquo;The data collection section describes the different sources and processes I used to collect information on my topic.&rdquo;)</li>
<li>Starting sentences with &ldquo;it is suggested that&hellip;&rdquo; or &ldquo;it is believed that&hellip;&rdquo;</li>
<li>Abbreviations and acronyms, if possible</li>
</ul>
