<br>
<p>To ensure that the results of your master&rsquo;s project are shared with key target audiences, you need to develop a dissemination plan that explains how you will share the outcomes of your study with various audiences. Your dissemination plan should be based on an understanding of key stakeholders needs and preferences. Try to think about what information and format would work best for them.</p>
<h3>Purpose</h3>
<p>Your dissemination plan should have a clear purpose. Some examples include:</p>
<ul>
<li>Raising awareness of the specific focus on the topic</li>
<li>Informing the stakeholders of your findings and recommendations that may have helped you along the way (provided guidance, gave data, granted interviews, resources used). You may also want to thank them for their assistance with your project.</li>
<li>Engaging decision makers and community members in order to solve a problem</li>
<li>Gathering feedback from target audiences to improve your study/refine future studies</li>
<li>Promoting your research in order to increase your network, secure internships/jobs, add to your resume</li>
</ul>
<p>Defining the purpose of why you are disseminating your master&rsquo;s project is the first step to determine the appropriate audience, message, method, and timing of dissemination.</p>
<h3>Audience</h3>
<p>Different individuals, groups, and organizations will be interested in the results of your master&rsquo;s project.</p>
<ul>
<li>Individuals who provided data, interviews, samples, helped administer surveys, provided guidance to you as you worked on your project</li>
<li>Institutional decision makers in your topic area</li>
<li>Practitioners in your topic area/field of interest</li>
<li>Study participants - may have promised those you interviewed or secured data from that you would share results of your study</li>
<li>Authors from the literature review &ndash; may have used a framework, study instrument, or study methodology in your MP and you want to provide feedback</li>
<li>Work/Internship supervisor</li>
<li>Future employer in your area of interest</li>
</ul>
<h3>Message</h3>
<p>Through writing your master&rsquo;s project and executive summary, you have already defined your key messages. This includes providing a purpose of your study and why it is important, methods, key findings, possible limitations, study implications, and specific recommendations. Your message should be clear, targeted, actionable, factually accurate and unbiased.</p>
<p>If you are sending your executive summary to a key stakeholder, make sure to provide the proper context and purpose of your message (see purpose examples). &nbsp;For example, if you are writing to a stakeholder who is a decision maker who met with you and shared his or her time in providing guidance and access to data, your introductory message to them could be:</p>
<blockquote>
<p>Dear Stakeholder,&nbsp;</p>
<p>I wanted to thank you again for meeting with me on (date) to discuss the academic challenges and needs of community college low-income, first generation students. As you know, I am interested in learning how institutions can best provide resources and institutional support to ensure high graduation rates among these students. With your help, I was able to gain access to key transcript data that enabled me to further study this issue. I wanted to share the Executive Summary of my study (attached) with you that includes key findings and recommendations in order to get your feedback. I can also arrange a time to present and discuss my research with you and other colleagues in your unit at a time that is convenient for you. I can also send you my full research study if you are interested.</p>
<p>Thank you,</p>
<p>MSHE Student</p>
</blockquote>
<h3>Methods</h3>
<p>There are a variety of dissemination methods in order to get your message to the right target audience and achieve your intended purpose.&nbsp;</p>
<ul>
<li>Email your Executive Summary</li>
<li>Present findings to an individual/office/unit/class</li>
<li>Conference presentations</li>
<li>Workshops, online discussion, webinar</li>
<li>Reports, journal article</li>
<li>Newsletters, flyers, press release, website</li>
</ul>
<h3>Timing</h3>
<p>Planning when to disseminate your master&rsquo;s project can be dependent on when the findings would be most relevant to various audiences, as well as when the opportunity is present. Be respectful of time commitments and busy seasons of certain stakeholders (admissions season for admission staff, finals/graduation, summer break for students and faculty, board of trustees meetings for some senior staff).&nbsp; If you are sharing your research through a professional organizational meeting, then be aware of submission due dates.</p>