<h3>Definition</h3>
<p>The conclusion is a “space to argue for the importance of the study” and pull the research ‘story’ together</p>
<h3>Process</h3>
<p>Conclusion Suggestions</p>
<ol>
<li>Conclude by returning to the introduction
<ul>
<li>Return to the initial ideas, concepts, examples, facts or themes presented</li>
<li>Be sure not to introduce new concepts</li>
<li>Tie the parts together to bring closure</li>
</ul>
</li>
<li>Summarize key findings
<ul>
<li>Don&rsquo;t&rsquo; repeat key findings verbatim</li>
<li>Reiterate and reinforce the &lsquo;take away&rsquo; points</li>
</ul>
</li>
<li>Acknowledge the lack of conclusion to the study itself
<ul>
<li>It is important to acknowledge when there is no definite conclusion to be made</li>
<li>Often a study leaves more questions to be asked</li>
</ul>
</li>
<li>Ensure that the &lsquo;so what&rsquo; questions are answered
<ul>
<li>Show the implications and illustrate the consequences</li>
<li>Present the importance and implication(s) clearly</li>
</ul>
</li>
<li>Speculate about the future of the topic
<ul>
<li>As the expert or authority on the topic, you should discuss what future research lies ahead</li>
</ul>
</li>
<li>Consider the methodological implications of the study (Discussion)
<ul>
<li>Discuss methodological issues that arose</li>
<li>Provide recommendations to future researchers</li>
</ul>
</li>
</ol>
<p>Conclusion MP Checklist</p>
<ul>
<li>Discusses implications/significance of the research findings for the field.</li>
<li>Summarizes the main findings of the study, including the interventions, recommendations, or new models suggested by your research.</li>
<li>Discusses suggestions for next steps in future research.</li>
<li>Discusses new questions that emerged as part of the MP.</li>
</ul>