<h3>Definition</h3>
<p>The data collection plan defines the researcher's strategy for gathering information from sources which will become part of the analysis to answer the research question. The goal is to select techniques for data collection that are appropriate to the question:</p>
<ul>
<li>What do you want to learn?</li>
<li>What has been collected so far?</li>
<li>What else do you need to collect and why?</li>
<li>Use the worksheet provided in class to help you document.</li>
</ul>
<p><strong>Data-Gathering Methods That Dominate Research:</strong></p>
<ol>
<li>Surveys (open-ended or closed)</li>
<li>Interviewing (1-on-1 or focus groups)</li>
<li>Document or Archival Analysis</li>
<li>Participant Observation (e.g., field notes, video)</li>
</ol>
<h4>Triangulation</h4>
<p>Our definition of &ldquo;Triangulation&rdquo;</p>
<ul>
<li>Can be multiple data collection methods</li>
<li>Can be multiple kinds of data sources</li>
<li>Can be different researchers</li>
<li>Can be a combination of the above</li>
</ul>
<h3>Purpose</h3>
<h3>Process</h3>