<h3>Definition</h3>
<p>Interpretation is&nbsp;good ideas, useful themes, convincing explanations, and ties of your data to literature.</p>
<p>Data Interpretation section should include:</p>
<ul>
<li>Brief Intro that describes what will be covered for this section</li>
<li>Integration of your data results summary and the literature</li>
<li>Interpretions&nbsp;(explain the meaning of the data)</li>
<li>New models or interventions suggested by your research</li>
<li>Limitations of the study</li>
<li>Changes to consider for next time/ Lessons learned</li>
<li>A brief conclusion that leads to the conclusion section of the MP</li>
</ul>
<h3>Purpose</h3>
<p><strong>Integration </strong><strong>of DATA SUMMARY and THE LITERATURE FINDINGS</strong> (can be from your literature review or other literature available)</p>
<ul>
<li>What meaning do you make of the findings?</li>
<li>Were there any surprises?</li>
<li>How do the findings compare with what is &nbsp; already known?</li>
</ul>
<h3>Process</h3>
<p>First, rewrite and rework your data summary as you work on data interpretation. These two sections should work in close connection with each other. There should be no data summarized that aren't included in the data interpretation section.&nbsp;</p>
<p>Early Data Analysis: Record BIG IDEAS</p>
<ul>
<li>Keep the research question&nbsp;in mind</li>
<li>Compare Literature&nbsp;Review Categories + what else you are finding</li>
<li>Consider&nbsp;ways to categorize interview questions, people, places, files on how data are affecting the questions s (generic to specific)</li>
<li>Also keep track of CONNECTING LITERATURE WITH YOUR DATA &ndash; even if it is new literature &ndash; can decide if it belongs in front or interpretation later</li>
</ul>
<p>Things to look for when analyzing data:</p>
<ul>
<li>Repitions</li>
<li>Relationships</li>
<li>Strategies</li>
<li>Concepts</li>
<li>Themes</li>
<li>Critical Incidences</li>
<li>Cognitive Level of Response</li>
<li>Symbolic Incidences</li>
<li>Categories, Questions, Methods, Metaphors</li>
</ul>
<p>Interpretation -- Checklist</p>
<ul>
<li>Provides an evaluation/interpretation of the data results as it relates to the research question that is useful and compelling.</li>
<li>Discusses how the study results relate back to the literature review presented earlier. Presents similarities and differences between data results found and other work on the topic.</li>
<li>Presents additional literature not previously discussed that supports findings (if applicable).</li>
<li>Discusses possible limitations to the study or sources of potential bias. May decide to include in the conclusion section instead. Either place is fine.</li>
</ul>
