<h3>Definition</h3>
<p>The data collection plan defines the researcher's strategy for gathering information from sources which will become part of the analysis to answer the research question. The goal is to select techniques for data collection that are appropriate to the question:</p>
<ul>
<li>What do you want to learn?</li>
<li>What has been collected so far?</li>
<li>What else do you need to collect and why?</li>
<li>Use the worksheet provided in class to help you document.</li>
</ul>
<h4>Triangulation</h4>
<p>Our definition of &ldquo;Triangulation&rdquo;</p>
<ul>
<li>Can be multiple data collection methods</li>
<li>Can be multiple kinds of data sources</li>
<li>Can be different researchers</li>
<li>Can be a combination of the above</li>
</ul>
<h3>Purpose</h3>
<h3>Process</h3>
<p>Identify each of the sub-questions you will answer in your thesis Then, ask yourself the following questions:</p>
<p>For each subquestion:</p>
<ul>
<li>What do I need to know?</li>
<li>What data will provide me with the information that I need?</li>
<li>What types of data are already available that answer the question (existing sources and other artifacts)?</li>
<li>What types of data do I need to generate?</li>
<li>What instrument(s) will I devise and use to collect the data?</li>
</ul>
<p>Guidelines and Recommendations for Data Collection:</p>
<ul>
<li>Use multiple data sources for each sub-question, whenever possible;</li>
<li>Plan to request existing data first, then move to data you must personally collect;</li>
<li>Try to estimate a timeline for your data collection as accurately as possible;</li>
<li>Seek assistance as problems/questions arise.</li>
</ul>
<p>Finally, end by checking your data collection plan:</p>
<ol>
<li>Is there congruence between your question and the data sources that you identified?</li>
<li>Are you using multiple data sources to clarify the picture being developed?</li>
<li>Is the timeline you have created realistic, but aggressive enough to give you ample time to digest and analyze your data?</li>
</ol>
<hr>
<h4>Data-Gathering Methods That Dominate Research</h4>
<div class="resource method-box">
    <div class="resource-content">
        <h2>Artifact Analysis</h2>
        <p>Existing sources of data such as institutional newsletters and newspapers, mission statements, computer accessed websites, syllabi, etc.</p>
    </div>
    <a href="{{ site.baseurl }}/mp_content/artifact-analysis.html"><div class="mix-hover hidden"></div></a>
</div>
<div class="resource method-box">
    <div class="resource-content">
        <h2>Interviews</h2>
        <p>1-on-1 sessions or focus groups with willing participants answering questions posed by the researcher.</p>
    </div>
    <a href="{{ site.baseurl }}/mp_content/interviews.html"><div class="mix-hover hidden"></div></a>
</div>
<div class="resource method-box">
    <div class="resource-content">
        <h2>Observations</h2>
        <p>Study of classrooms, workshops, student groups, etc. conducting normal business as if the research were not present.</p>
    </div>
    <a href="{{ site.baseurl }}/mp_content/observatios.html"><div class="mix-hover hidden"></div></a>
</div>
<div class="resource method-box">
    <div class="resource-content">
        <h2>Surveys</h2>
        <p>Open-ended or closed questions answered by participants online or on paper and later analyized.</p>
    </div>
    <a href="{{ site.baseurl }}/mp_content/surveys.html"><div class="mix-hover hidden"></div></a>
</div>