<h3>Definition</h3>
<p>Findings which are reduced and displayed appropriately. The Data Summary should:&nbsp;</p>
<ul>
<li>Include<strong> an introduction </strong>that lays out structure and content of data results and relevant analysis performed.&nbsp;</li>
<li>Present and <strong>describes the data in an unbiased, accurate, complete manner.&nbsp; </strong></li>
<li>Present<strong>&nbsp;data</strong><strong>/evidence that is&nbsp;appropriate (type and quality) to the research question.&nbsp; </strong></li>
<li>Present<strong>&nbsp;</strong>data/evidence that is&nbsp;<strong>reduced and displayed in a useful way</strong>.</li>
<li>Include<strong> Graphs </strong><strong>and tables that are&nbsp;clear and contain appropriate labels. </strong></li>
<li>If statistical analysis performed, include sufficient information to help the reader understand the analysis conducted.&nbsp;</li>
<li>Include a <strong>brief conclusion that summarizes the data results</strong> (not discussion/interpretation).</li>
</ul>
<h3>Purpose</h3>
<p>The goal is to discover patterns, ideas, explanations – but the data has to be organized.</p>
<h3>Process</h3>
<p>Data summary is about reducing and displaying data. In order to do this you want to think about a variety of ways to summarize data:</p>
<ul>
<li>PRELIMINARY CATEGORIES/QUOTES (collection of quotes from raw data through coding)</li>
<li>CODING
<ul>
<li>CONCEPTUAL FRAMEWORK W/&rdquo;BINS&rdquo; (TOP-DOWN CODING)</li>
<li>EMERGING THEMES (BOTTOM - UP CODING)</li>
</ul>
</li>
<li>VIGNETTES (short description that creates a composite of all people or events &ndash; like a summary)</li>
<li>CRITICAL EVENTS (usually extremes, pattern breaking, shift or break through &ndash; not typical or representative)</li>
</ul>
<p><strong>Coding</strong></p>
<p>Each code identifies a concept or central idea. Codes can address different topics such as:&nbsp;</p>
<ul>
<li>Setting and context</li>
<li>Perspectives held by participants</li>
<li>Process</li>
<li>Activities</li>
<li>Strategies</li>
<li>Relationship and social structure</li>
</ul>
<p><em>How to code:</em></p>
<p><strong>Top - Down Coding:</strong> Decide on a list of codes and subcodes ( e.g., research question(s), framework, theories, other literature, data collection experiences)</p>
<p><strong>Bottom-Up Coding:</strong> Read the data and start to decide what codes may exist (need to be generous in judging what is important, may be a word, person, group of words, concept that becomes a unit/code and it is given a name)</p>
<h4>Data Visualization:&nbsp;Two Phases</h4>
<h5>Phase 1: What to Visualize</h5>
<p>Consider your inputs</p>
<ul>
<li>Your goals
<ul>
<li>What questions are you trying to answer?</li>
</ul>
</li>
<li>Their needs
<ul>
<li>Who is the data consumer and what do you want them to know?</li>
</ul>
</li>
<li>Shape of the data
<ul>
<li>What type of data are you working with?
<ul>
<li>Categorical (grouped - sex)</li>
<li>Ordinal (ranked - satisfaction)</li>
<li>Interval (scales, temperature)</li>
<li>Ratio (age, salary)</li>
<li>Relational (hierarchical)</li>
</ul>
</li>
</ul>
</li>
</ul>
<h5>Phase 2: How to Visualize</h5>
<p>Organize your data with goals in mind</p>
<ul>
<li>Show relationship of A and B?</li>
<li>Compare two points in time?</li>
<li>Compare/Contrast?</li>
<li>Table or Chart?</li>
</ul>
<p><strong>Tables vs. Charts/Graphs</strong></p>
<ul>
<li>Tables
<ul>
<li>To look up individual values</li>
<li>To compare individual values</li>
<li>When precise values are required</li>
</ul>
</li>
<li>Charts
<ul>
<li>When the message is in the pattern</li>
<li>To revel relationships among multiple values
<ul>
<li>Use stacked-bar chart for part-to-whole relationships to present cumulative totals</li>
<li>Use bar graphs over pie charts to show groups comparison</li>
<li>Use a line graph if the x-axis can show interval data</li>
<li>Used a scatterplot to show correlations</li>
</ul>
</li>
</ul>
</li>
</ul>
<h4>Reporting Data Results</h4>
<ul>
<li>Be impartial in the write-up, avoid value-laden statements</li>
<li>Do not use first person, allow the readers to see the research through the data and their own eyes</li>
<li>Should be able to replicate the study and come to the same conclusions</li>
<li>Include representative samples for a theme</li>
<li>Not interesting or nonessential data should be in appendices, if appropriate</li>
<li>Use numerals greater than or equal to 10; dates, ages or time; reporting the participants, reporting scores</li>
<li>Using words for quantification &ndash; values less than 10, Numbers that begin sentences</li>
<li>Numerical data should be reported in descending order</li>
<li>Use tables and figures to organize data, but also refer to them in the text. Don&rsquo;t forget to use APA format.</li>
</ul>
<p>&nbsp;</p>