<h3>Definition</h3>
<p>Identifies the research problem, sets the context, states the question, and identifies the sections of the MP that will follow</p>
<h3>Purpose</h3>
<p>Introduce the research topic and question, as well as each section of the project, to give readers an idea of the focus and layout of the paper</p>
<h3>Process</h3>
<p>Definitions and Concepts</p>
<ul>
<li>Define specialized terms and jargon for readers unfamiliar with the topic.</li>
<li>Briefly outline central concepts of the topic.</li>
</ul>
<p>Statement of the Problem/Research Issue</p>
<ul>
<li>Describe the problem or phenomenon that inspired the research project.</li>
<li>Describe the central concept of the research question and the question itself.</li>
</ul>
<p>Importance of Project</p>
<ul>
<li>Explain how this project can contribute to the field of study.</li>
</ul>
<p>Overview of MP Sections&mdash;briefly describe the following:</p>
<ul>
<li>Literature Review Domains</li>
<li>Data Collection Methods</li>
<li>Data Summary</li>
<li>Implications for Research and Practice</li>
</ul>
<h4>General Tips</h4>
<ul>
<li>When writing the introduction and background, assume the reader knows nothing about the research topic. Define all specialized terms and concepts.</li>
<li>Think of the introduction and background as a &ldquo;road map&rdquo; for your overall paper&mdash;it should show readers what you will be writing about and the order in which everything appears.</li>
<li>Keep the introduction and background relatively concise&mdash;it usually should not go over 2-3 pages.</li>
<li>Return to your introduction and background regularly as you write your paper. As sections, concepts, and conclusions change, those changes will need to be reflected in your introduction.</li>
</ul>