<h4>Definition:</h4>
    
<p>A literature review is an assessment of a body of research that addresses a research question.</p>

<h4>Purpose:</h4>

<p>A literature review:</p>
<ul>
<li>Identifies what is already known about an area of study</li>
</ul>
<p>It may also:</p>
<ul>
<li>Identify questions a body of research does not answer </li>    
<li>Make a case for why further study of research questions is important to a field</li>
</ul>
<h4>Process:</h4>

<p>It is a research journey with several steps:</p>
<ol>
<li>Framing a research question</li>
<li>Searching relevant bodies of literature</li>
<li>Managing search results</li>
<li>Synthesizing the research literature</li>
<li>Writing an assessment of the literature</li>
<li>The process is iterative—as you gain understanding, you’ll return to earlier steps to rethink, refine, and rework your literature review.</li>
</ol>