<h3>Definition</h3>
    
<p>A literature review is an assessment of a body of research that addresses a research question.</p>
<p>When conducting&nbsp;a literature&nbsp;review, it is important to have&nbsp;<strong>quality&nbsp;over quantity.</strong></p>
<p>Use the following scholarly publication&nbsp;sources:</p>
<ul>
<li>Peer reviewed journals</li>
<li>Non-peer reviewed journals</li>
<li>Magazines</li>
<li>Books</li>
<li>Scholarly monographs</li>
<li>Book&nbsp;and monograph chapters</li>
<li>Grey literature&nbsp;(e.g.,&nbsp;unpublished&nbsp;studies&nbsp;such as governmentreports, white papers,&nbsp;dissertations,&nbsp;conference papers)</li>
<li>Internet resources</li>
</ul>

<h3>Purpose</h3>

<p>A literature review:</p>
<ul>
<li>Intends to&nbsp;establish context for&nbsp;the research study</li>
<li>Contains critical analysis of previous research studies</li>
<li>Sometimes contains non-research-based literature&nbsp;on&nbsp;the&nbsp;topic of investigation</li>
<li>Provides an analytical argument and draws conclusions&nbsp;(more than descriptive)</li>
<li>Enables researchers and others to focus on and use the literature&nbsp;in the field</li>
<li>Engages theories and establishes them in relation to the current work</li>
<li>Helps to develop the research questions further</li>
<li>Provides context&nbsp;and foundations&nbsp;for the later findings produced&nbsp;by the study</li>
</ul>
<h3>Process</h3>
<p>When writing a literature review, you can start with the following questions:</p>
<ul>
<li>What do we already know about the proposed topic?</li>
<li>Has anyone else ever conducted&nbsp;the same study?</li>
<li>Has anyone else even conducted&nbsp;a similar study?</li>
<li>How is the work situated&nbsp;when compared&nbsp;with completed&nbsp;works?</li>
<li>What do we still need to know about the proposed topic?</li>
<li>Why is this research worth doing in the light of other research already&nbsp;completed?</li>
<li>What assumptions&nbsp;about the topic are apparent in the literature?</li>
</ul>
<p>It is a research journey with several steps:</p>
<ol>
<li>Framing a research question</li>
<li>Searching relevant bodies of literature</li>
<li>Managing search results</li>
<li>Synthesizing the research literature</li>
<li>Writing an assessment of the literature</li>
<li>The process is iterative—as you gain understanding, you’ll return to earlier steps to rethink, refine, and rework your literature review.</li>
</ol>
<p>Ulimately, a good literature review should:&nbsp;</p>
<ol>
<li>Have a<strong> introduction</strong>&nbsp;which sets the&nbsp;stage:
<ul>
<li>Restates question</li>
<li>Identifies and briefly explains the domains and how these domains arerelevant to the questions</li>
<li>Gives the reader a good notion of what is to follow in lit review (story)</li>
</ul>
</li>
<li>Be&nbsp;<strong>well-organized</strong>:
<ul>
<li>identifies and examines&nbsp;sections/chunks/domains&nbsp;and sub sectionsrelevant to the question clusters or topics/issues of research problem</li>
<li>provides coverage of the issues and depth of understanding?&nbsp;Are theseissues synthesized well across the pieces of&nbsp;literature, rather than adescription of one article, then the next, etc.?</li>
<li>provides a theoretical/conceptual framework(s) or domains OR organized by key&nbsp;issues and studies that surround the question</li>
</ul>
</li>
<li>Wrap up with a <strong>Conclusion:</strong>&nbsp;
<ul>
<li>summarizing&nbsp;key ideas and findings from the literature and applying its relevancy to your research question(s)</li>
<li>setting&nbsp;the stage&nbsp;for your data&nbsp;collection (telling the story)</li>
</ul>
</li>
</ol>
<hr>
<h5>Top Ten Tips for&nbsp;Literature Reviews:</h5>
<ol>
<li>The review of literature should adequately cover previous research&nbsp;on the topic</li>
<li>The review of literature should cite actual findings from other&nbsp;studies</li>
<li>The review of literature should be up-to-date.
<ul>
<li>Should include the most recent research.</li>
<li>Older studies may be relevant as well.</li>
<li>Primary vs. secondary sources</li>
</ul>
</li>
<li>The review of literature should analyze as well as&nbsp;summarize previous studies.
<ul>
<li>May be&nbsp; a critique of methodology or inappropriate&nbsp;generalizations, limitations of the study, or a discussion&nbsp;of conflicting results</li>
</ul>
</li>
<li>The review of literature should be organized logically by&nbsp;topic, not by author (synthesize!).</li>
<li>The review of literature should briefly summarize minor &nbsp; studies and discuss major studies in detail.</li>
<li>The review of literature should relate previous studies&nbsp;explicitly to the research problem/question or methods.</li>
<li>The review of literature may establish a theoretical or conceptual framework (concept or idea would work also) for the problem.</li>
<li>Explain technical terms and avoid jargon. Be sure you&nbsp;have definitions when appropriate.</li>
<li>Include visual displays, including tables, graphs are&nbsp;always a nice way to reduce/display the data in your&nbsp;literature review and easy for the eye to follow.
<ul>
<li>Summarize a list of studies/compare and contrast</li>
<li>Can use visuals from literature if cited</li>
<li>Also may use your own literature map (I like making&nbsp;one, even if I don&rsquo;t use it in the lit review &ndash; helpful&nbsp;to those that are visual)</li>
</ul>
</li>
</ol>