<h4><a id="Poster_Options_0"></a>Poster Options</h4>
<ol>
<li>Make a poster that is <strong>printed for free </strong> by SESP
<ul>
<li>Posters can be no larger than 42&quot; x 48.&quot; If your poster has a white background we recommend that you put a thin boarder abound it so that you’ll know where to cut. You should also put your name somewhere on the poster.</li>
<li>You can upload your poster in .pdf, .jpg, .doc or .ppt/.pptx (powerpoint) format into Canvas.</li>
</ul>
</li>
<li>Make a poster and <strong>pay to print it yourself</strong>
<ul>
<li>Different printers have different size and file format requirements. Check with the printer about printing needs.</li>
</ul>
</li>
<li><strong>Present electronically</strong> on one of the
<ul>
<li>Posters should be 16 (height) x 9 (width) ratio to fit the full screen size with an approximate size of 31.5in (height) x 56in (width).</li>
<li>You can upload your poster in .pdf, .jpg, or .ppt/.pptx (powerpoint) format into Canvas.</li>
</ul>
</li>
</ol>
<h4><a id="What_to_Include_on_your_Poster_11"></a>What to Include on your Poster</h4>
<ol>
<li><strong>Research Question:</strong> Is it clear? Why does it need to be asked?</li>
<li><strong>Data collection:</strong> Why are the chosen data collection methods particularly appropriate to the research question? What other kinds of data might have been useful?</li>
<li><strong>Triangulation of Data Sources/Methods:</strong> In what ways does the researcher connect the data from multiple sources and/or multiple methods to support her/his ideas about emergent themes?</li>
<li><strong>Data Summary:</strong> What key ideas about the research topic have you learned so far?</li>
<li><strong>Contribution to the Field:</strong> In what ways does the project (so far) have implications for professional practice, student learning, or the organization of schools/institutions? What other research questions seem to be emerging for future study?</li>
</ol>
<h4><a id="Making your_Poster_19"></a>Making your Poster</h4>
<p><strong>PowerPoint Slide Setup:</strong></p>
<ul>
<li>Your poster will be created on <strong>ONE</strong> slide in PowerPoint.</li>
<li>The page size of that slide must be your desired print size. You must do this step before you create your poster. Your print quality will be substandard if you design your poster and then change the size.</li>
<li>To prevent cropping when printing, be sure you have a <strong>1 inch</strong> margin around the edges of the poster.</li>
</ul>
<p><strong>To Set the Slide Dimensions (see ideal dimensions in Poster Options above):</strong></p>
<ul>
<li>
<p>For PowerPoint 2007 and PowerPoint 2010 for Windows:</p>
</li>
<li>
<p>Select the <strong>Design</strong> tab, then <strong>Page Setup</strong>. Select <strong>Custom</strong> from the “Slides sized for” dropdown, enter desired size in inches.</p>
</li>
<li>
<p>For PowerPoint 2008 for Mac:</p>
</li>
<li>
<p>Select <strong>File</strong>, then <strong>Page Setup</strong>. Select Custom from the “Slides sized for” dropdown, enter desired size in inches.</p>
</li>
<li>
<p>For PowerPoint 2011 for Mac:</p>
</li>
<li>
<p>Select the <strong>Themes</strong> tab, then <strong>Page Setup</strong>. Select Custom from the “Slides sized for” dropdown, enter desired size in inches.</p>
</li>
<li>
<p>For PowerPoint 2016 for Mac:</p>
</li>
<li>
<p>Select the <strong>Design</strong> tab, then <strong>Slide Size.</strong> Select <strong>Page Setup</strong> from the dropdown, enter desired size in inches.</p>
</li>
</ul>
<p><strong>Slide Design Tips:</strong></p>
<ul>
<li>Your poster should read from top left to bottom right, like you are reading a page.</li>
<li>It’s important to maintain a good contrast between the background color and the text color. Consider using a light color background and dark text.</li>
<li>A gradient color fill in the background, especially black, will print poorly. It will have very thin visible lines that you will not see on your computer monitor.</li>
<li>The colors that you see on your computer monitor will not reproduce exactly the same on a printed poster, as monitor color settings vary. You can expect that there will be a color shift of 2 or 3 shades.</li>
<li>If you want to use the Northwestern Purple, you can find all of the color information on the <a href="http://www.northwestern.edu/brand/index.html">Northwestern Brand Tools Website </a></li>
</ul>
<p><strong>Graphics:</strong></p>
<ul>
<li>Images copied from the web are low resolution (72 dpi) images and are not proper quality to inculde in your poster.</li>
<li>Limit image resolution to 150 dpi to ensure their ability to print.</li>
<li>All graphics should be pictures (e.g. .tif, .gif for transparency, .jpg for non-transparent images) inserted directly into PowerPoint (NOT linked from another program).</li>
<li>If you have graphs or charts from Excel to include in your poster, simply copy in Excel and paste into PowerPoint.</li>
<li>Do not enlarge images after they have been inserted into PowerPoint.</li>
<li>To adjust an image and retain proportion, hold down the <strong>Shift</strong> key on your keyboard and click and drag with your mouse on one of the corners in order to scale it.</li>
</ul>
<p><strong>Text:</strong></p>
<ul>
<li>
<p>It is best to use a font that is cross-platform to ensure that your poster looks as you have designed it. If you use a downloaded font that is specific to one environment (i.e. only Mac or only Windows), you must embed that font in your PDF.</p>
</li>
<li>
<p>Sans-serif fonts are the best for posters, particularly for the title, subtitle, and headers.</p>
</li>
<li>
<p>The most common fonts are Times New Roman and Arial. Other fonts include Arial Black, Franklin Gothic Heavy, Tahoma, Trebuchet, Verdana, Garamond, Book Antiqua, or Bookman Old Style, just to name a few.</p>
</li>
<li>
<p>The title should be approximately the entire width of the poster with the main text broken into multiple columns, usually three or four depending on the size of the poster. You may also want to use section headings within the columns at the start of each section.</p>
</li>
<li>
<p>You will have to adjust the font size depending on the amount of text in your poster and the style of font you choose. For readability, you should not use a font size any smaller than 18 points.</p>
</li>
<li>
<p>For consistency, it would be best to make all the headers the same size and use the same font size throughout the poster for all body text.</p>
</li>
<li>
<p>If your text is in a different file (e.g. in a Word document) be sure that it pastes into a text box in PowerPoint so it can be more easily edited. To do this, use the <strong>Paste Special</strong> command and choose <strong>Unformatted Text</strong> so that the text will become a PowerPoint text box. If you just copy and paste, your text will be an imported word processing object, which will not be as easy to edit in PowerPoint.</p>
</li>
</ul>
<p><em>Table 1: Recommended Font Sizes</em></p>
<table class="data_table" style="padding-left: 30px;" cellpadding="5">

<tbody>

<tr>

<th style="background-color: #aaa;">Section</th>

<th style="background-color: #aaa;">Font Size</th>

</tr>

<tr>

<td style="background-color: #ccc;">Title</td>

<td style="text-align: center; background-color: #cccccc;">72-120</td>

</tr>

<tr>

<td style="background-color: #eee;">Subtitle</td>

<td style="text-align: center; background-color: #eeeeee;">48-80</td>

</tr>

<tr>

<td style="width: 150px; background-color: #cccccc;">Section Headers</td>

<td style="width: 100px; text-align: center; background-color: #cccccc;">36-72</td>

</tr>

<tr>

<td style="background-color: #eee;">Body Text</td>

<td style="text-align: center; background-color: #eeeeee;">24-48 </td>

</tr>

</tbody>

</table>
<p><strong>Options other than PowerPoint</strong></p>
<p>Other common choices for design posters are Adobe InDesign or Photoshop (available on some NU Library Computers) and <a href="https://www.canva.com/create/posters/">Canva</a> . These tools (especially Adobe InDesign and Photoshop) tend to require more time to learn. However, if you are interested in using any of these other programs, you can <a href="mailto:derek.thurber@northwestern.edu">contact Derek Thurber</a> to schedule a one-on-one consultation.</p>
<h4><a id="Questions_and_Help_128"></a>Questions and Help</h4>
<ul>
<li>If you have additional questions about what to include on the poster, contact Rachelle or your research coach.</li>
<li>If you have additional questions or would like help formatting/designing your poster <a href="mailto:derek.thurber@northwestern.edu">contact Derek Thurber</a>.</li>
</ul>