<h3>Definition</h3>
<p>The issues, controversies,&nbsp;or concerns that guide the need for conducting astudy and stands on its own</p>
<h3>Purpose</h3>
<p>Define the paramaters of the research study and direct the focus of the rest of the research project.</p>
<h3>Process</h3>
<div>To Locate the Research Problem, Ask:</div>
<ul>
<li>What was the&nbsp;issue, problem, or controversy that&nbsp;you want to address?</li>
<li>What controversy leads to a need for this study?</li>
<li>What is the concern being addressed &ldquo;behind&rdquo;&nbsp;this study?</li>
</ul>
<h4>Research Question Development</h4>
<p>Different Parts&nbsp;of&nbsp;Research:&nbsp;Example of&nbsp;Research Topic, Research Problem,&nbsp;Purpose, and Research Question</p>
<p>For example:</p>
<ul>
<li><strong>Topic</strong> &ndash; Distance learning in higher education&nbsp;programs</li>
<li><strong>Problem</strong> &ndash;Lack of&nbsp;students in distance education&nbsp;courses in higher education administration</li>
<li><strong>Purpose</strong> &ndash; To study why students don&rsquo;t enroll in theseclasses and see how the curriculum might change</li>
<li><strong>Research Question</strong> &ndash;How does the use of technologyin the classroom change the curriculum and/or deterstudents from&nbsp;enrolling in&nbsp;a distance education class&nbsp;at a Research I institution?</li>
</ul>
<p><strong>Should the Problem&nbsp;Be Researched?</strong></p>
<p>Study the Research Problem, If You Can:</p>
<ul>
<li>Gain Access to People and Sites?</li>
<li>Find Time, Locate Resources, and Use your Skills</li>
<li>Justify the Importance of the Problem: others report in literature, experiences others have had, your personal experiences</li>
</ul>
<div>Study the Research Problem, If the study:</div>
<ul>
<li>Will fill a gap or void of existing literature?</li>
<li>Advance&nbsp;knowledge? Importance?</li>
<li>Replicates a past study but examines different&nbsp;participants and different research sites</li>
<li>Extends past research or examines the&nbsp;topic more&nbsp;thoroughly</li>
<li>Gives voice to people silenced, not heard, or&nbsp;rejected in society</li>
<li>Importance, informs/contributes to&nbsp;practice</li>
</ul>
<h4>Questions: Guidelines</h4>
<ul>
<li>Expect the questions to change as your understanding&nbsp;grows</li>
<li>Ask neutral questions, no direction needed &ndash; no bias</li>
<li>&nbsp;Begin with&nbsp;how&nbsp;or&nbsp;what&nbsp;rather than why&nbsp;(associated with&nbsp;quantitative research more)</li>
<li>Use words such as&nbsp;generate, discover,&nbsp;understand, describe,&nbsp;explore</li>
<li>Try to&nbsp;avoid&nbsp;words such&nbsp;as&nbsp;affect, relate, compare,&nbsp;determine, cause, and&nbsp;influence&nbsp;&ndash; suggests cause-and effect</li>
<li>Write the central question and sub-questions (cluster)</li>
<li>&nbsp;Identify the participants in the study&bull;&nbsp;Mention the research site for the study if possible</li>
</ul>