<h3>Definition</h3>
<p>The issues, controversies,&nbsp;or concerns that guide the need for conducting a study in the form of a stand-alone question.</p>
<h3>Purpose</h3>
<p>Define the parameters of the research study and direct the focus of the rest of the research project.</p>
<h3>Process</h3>
<p>To Locate the Research Problem, Ask:</p>
<ul>
<li>What is the general&nbsp;issue, problem, or controversy that&nbsp;you want to address?</li>
<li>What specific phenomenon, issue, or controversy leads to a need for this study?</li>
<li>What is the concern being addressed &ldquo;behind&rdquo;&nbsp;this study?</li>
</ul>
<h4>Research Question Development</h4>
<p>The development of your research question can occur in four phases: Locating the Topic, Pinpointing the Problem,&nbsp;Defining the Purpose, and Establishing the Research Question.</p>
<p>For example:</p>
<ul>
<li><strong>Locating the Topic</strong>&nbsp;&ndash; Distance learning in higher education&nbsp;programs</li>
<li><strong>Pinpointing the Problem</strong>&nbsp;&ndash;Lack of&nbsp;students in distance education&nbsp;courses in higher education administration</li>
<li><strong>Defining the Purpose</strong>&nbsp;&ndash; To study why students don&rsquo;t enroll in these classes and see how the curriculum might change</li>
<li><strong>Establishing the Research Question</strong>&nbsp;&ndash; How does the use of technology in the classroom change the curriculum and/or deter students from&nbsp;enrolling in&nbsp;a distance education class&nbsp;at a Research I institution?</li>
</ul>
<h4>Should the Problem&nbsp;Be Researched?</h4>
<p>A few criteria should be met in order to make a research problem viable for study.</p>
<p>Study the research problem, if you can:</p>
<ul>
<li>Gain access to people (research subjects) and sites</li>
<li>Find time, locate resources, and use/develop your skills</li>
<li>Justify the importance of the problem: others report the problem in literature, experiences others have had, your personal experience</li>
</ul>
<p>Study the research problem, if the study will:</p>
<ul>
<li>Fill a gap or void in existing literature</li>
<li>Advance&nbsp;knowledge in the field in an important way</li>
<li>Replicate a past study but examine different&nbsp;participants and different research sites</li>
<li>Extend past research or examine the&nbsp;topic more&nbsp;thoroughly than past research</li>
<li>Give voice to people silenced, not heard, or&nbsp;rejected in society</li>
<li>Inform or contribute to&nbsp;higher education practice</li>
</ul>
<h4>General Tips</h4>
<ul>
<li>Expect the questions to change as your understanding&nbsp;of the topic grows.</li>
<li>Ask neutral, unbiased questions.</li>
<li>Begin your question with&nbsp;<em>how</em>&nbsp;or&nbsp;<em>what</em>&nbsp;rather than <em>why</em>&mdash;these signifiers are more often associated with&nbsp;quantitative research.</li>
<li>Use words such as&nbsp;<em>generate</em>, <em>discover</em>,&nbsp;<em>understand</em>, <em>describe</em>,&nbsp;and <em>explore</em>. Try to&nbsp;avoid&nbsp;words such&nbsp;as&nbsp;<em>affect</em>, <em>relate</em>, <em>compare</em>,&nbsp;<em>determine</em>, <em>cause</em>, and&nbsp;<em>influence</em> in your question&mdash;these signifiers suggest cause-and-effect, which is difficult to measure.</li>
<li>Write the central question and sub-questions out in a cluster. This will help you look at your question from different angles.</li>
<li>Identify the participants in the study.</li>
<li>Mention the research site for the study, if possible.</li>
</ul>