<div class="info-page-hero">
  <div class="info-page-header">
    <h2>Student Resources</h2>
  </div>
  <div class="info-page-nav">
  <nav>
    <ul>
      <li {% if page.section == "internships" %}class="active"{% endif %}><a href="{{ site.baseurl }}/info/internships.html">Internships</a></li>
      <li {% if page.section == "student life" %}class="active"{% endif %}><a href="{{ site.baseurl }}/info/student-involvement.html">Student Life</a></li>
      {% for item in site.info %}{% if item.section == "student experience" %}{% if item.title == page.title %}<li class="active"><a href="{{ item.url | prepend:site.baseurl }}">{{ item.title }}</a></li>
      {% else %}<li><a href="{{ item.url | prepend:site.baseurl }}">{{ item.title }}</a></li>{% endif %}{% endif %}{% endfor %}
    </ul>
  </nav>
  </div>
</div>