---
layout: default
featured: 
  - Ann Merrell
  - Alice Ji
  - Carol Chen
categories:
  - Academic Services and Programming
  - Admissions and Enrollment Management
  - Alumni Relations and Development
  - Athletics
  - Career Services
  - Civic Engagement and Volunteerism
  - Financial Issues
  - Higher Education Policy
  - Social Justice
  - Strategic Planning and Institutional Research
  - Student Development
  - Student Engagement
  - Student Support Services
  - Student Wellness
  - Study Abroad and International Education
---
    <section class="container">
        <h2>Master's Projects Database</h2>
        <i class="fa fa-search input-filter-icon"></i><input class="input-filter" ng-model="inputFilter" placeholder="Start typing to filter...">
        <br>
        <div>
            
            <article class="mixing" id="Container">
                <table width="100%" class="sorter-table">
                    <tr>
                        <td class="sort" ng-click="sort('year')" width="50px">Year <i ng-if="sortOrder == 'year'" class="fa fa-caret-down" ng-class="{flip:reverse}" aria-hidden="true"></i><span class="hover">Sort By Year<div class="arrow-down"></div></span></td>
                        <td class="sort" ng-click="sort('name')">Project Details <i ng-if="sortOrder == 'name'" class="fa fa-caret-down" ng-class="{flip:reverse}" aria-hidden="true"></i><span class="hover">Sort By Author<div class="arrow-down"></div></span></td>
                        <td class="sort" ng-click="sort('categories')" width="150px">Categories <i ng-if="sortOrder == 'categories'" class="fa fa-caret-down" ng-class="{flip:reverse}" aria-hidden="true"></i><span class="hover">Sort By Category<div class="arrow-down"></div></span></td>
                    </tr>
                </table>
                
                {% for project in site.data.master_projects %} 
                   <div class="mix {{ project.categories | join: ',' | downcase | remove:' ' | replace:',',' ' }} {{ project.tags | join: ',' | downcase | remove:' ' | replace:',',' '}} {{ project.first_name | downcase }}{{ project.last_name | downcase }}" data-year="{{ project.year }}" data-name="{{ project.last_name }}" data-category="{{ project.categories | join:' ' }}">
                <table width="100%" class="mp-table" >
                   
                    <tr>
                        <td width="50px" class="year">{{ project.year }}</td>
                        <td class="title">
                            <p><strong>{{ project.title }}</strong></p>
                            <p class="author">By {{ project.first_name }} {{ project.last_name }} </p>
                        </td>
                        <td width="150px" class="category">{{ project.categories | join:', ' }}</td>
                        <td width="25px" class="download">{% if project.file_path != '' %}<a href="{{ project.file_path }}" data-featherlight="iframe" data-featherlight-iframe-height="500px" data-featherlight-iframe-width="600px"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>{% endif %}</td>
                    </tr>
                    
                </table>
                </div>
                    {% endfor %}
                
                
            </article>
            <aside>
                <p class="column-title">Featured Projects <span class="clear"><a ng-click="clearAll()" class="filter" data-filter="all" href="#">CLEAR</a></span></p>
                {% assign sorted_projects = (page.featured | sort)%}
                {% for project in sorted_projects %}<p><a class="filter featured" data-filter=".{{ project | downcase | replace:' ','' }}" href="#{{ project | downcase | replace:' ','' }}">{{ project }}</a></p>{% endfor %}
                <p class="column-title">Filter by Category</p>
                {% for item in page.categories %}<b><input type="checkbox" ng-click="filterCat('.{{ item | downcase | replace:' ','' }}')">{{ item }}</b><br>{% endfor %}
                <p class="column-title">Filter By Tag <span class="clear"><a ng-click="clearAll()" class="filter" data-filter="all" href="#">CLEAR</a></span></p>
                {% capture mp_tags %}{% for item in site.data.master_projects %}{% for tag in item.tags %}{{ tag }},{% endfor %}{% endfor %}{% endcapture %}
                {% assign tag_words = mp_tags | downcase | split:',' | uniq | sort %}
                <ul class="tag-list">
                    {% for tag in tag_words %}<li><a href="#" ng-class="{'active': tagIncludes.indexOf('.{{ tag | replace:' ','' }}') > -1}" ng-click="filterTag('.{{ tag | replace:' ',''}}')">{{ tag }}</a></li>{% endfor %}
                </ul>
            </aside>
        </div>
    </section>
    <br>
    