---
layout: default
featured: 
  - Ann Merrell
  - Alice Ji
  - Carol Chen
---
    <section class="container">
        <h2>Master's Projects Database</h2>
        <br>
        <div>
            
            <article class="mixing" id="Container">
                <table width="100%" class="sorter-table">
                    <tr>
                        <td class="sort" ng-click="sortYear(!sortYear)" data-sort="year:desc name:asc" width="40px">Year</td>
                        <td class="sort" data-sort="year:desc author:asc">Project Details</td>
                        <td class="sort" data-sort="year:desc category:asc" width="150px">Category</td>
                    </tr>
                </table>
                {% for project in site.data.mp %}
                    <div class="mix" data-name="{{ project.title }}" data-author="{{ project.last_name }}" data-year="{{ project.year }}" data-category="{{ project.category }}">
                        <table width="100%" class="mp-table">
                            <tr>
                                <td width="40px" class="year">{{ project.year }}</td>
                                <td class="title">
                                    <p><strong>{{ project.title }}</strong></p>
                                    <p class="author">By {{ project.first_name }} {{ project.last_name }} </p>
                                </td>
                                <td width="150px" class="category">{{ project.category }}</td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            </article>
            <aside>
                <p class="column-title">Most Popular Projects</p>
                {% assign sorted_projects = (page.featured | sort)%}
                {% for project in sorted_projects %}<p>{{ project }}</p>{% endfor %}
                <p class="column-title">Filter by Category</p>
                {% for item in site.categories %}<p>{{ item }}</p>{% endfor %}
                <p class="column-title">Filter By Tag</p>
                {% capture mp_tags %}{% for item in site.data.mp %}{{ item.tags }}{% endfor %}{% endcapture %}
                {% assign tag_words = mp_tags | downcase | split: ',' | uniq | sort %}
                <ul class="tag-list">
                    {% for tag in tag_words %}<li>{{ tag }}</li>{% endfor %}
                </ul>
            </aside>
        </div>
    </section>
    <br>
    