---
layout: default
title: MP Timeline
header: false
timeline_entries:
  - title: Research Question
    description: The guiding question that your MP is aimed at answering.
    link_path: '/mp/#/researchquestions'
    icon_path: /img/guide_icons/white_research_question.png
    quarter: fall
    date: 2016-10-06T00:00:00.000Z
    submission_type: final
  - title: 'DRAFT: Literature Review'
    description: Analysis of existing literature including gaps and shortcomings.
    link_path: '/mp/#/literaturereview'
    icon_path: /img/guide_icons/white_literature_review.png
    quarter: fall
    date: 2016-11-17T00:00:00.000Z
    submission_type: draft
  - title: 'DRAFT: Introduction and Background'
    description: Overview and introduction to the MP including rationale.
    link_path: '/mp/#/introduction'
    icon_path: /img/guide_icons/white_intro-background.png
    quarter: fall
    date: 2016-11-17T00:00:00.000Z
    submission_type: draft
  - title: 'DRAFT: Data Collection Methods'
    description: Data collection strategies and triangulation of data.
    link_path: '/mp/#/datacollection'
    icon_path: /img/guide_icons/white_data_collection_methods.png
    quarter: fall
    date: 2016-12-01T00:00:00.000Z
    submission_type: draft
  - title: IRB Protocol
    description: Official research consent and ethics approval from Northwestern for data collection.
    link_path: '/mp/#/irb'
    icon_path: /img/guide_icons/irb_protocol.png
    quarter: winter
    date: 2017-01-12T00:00:00.000Z
    submission_type: final
  - title: Revised Data Collection Methods
    description: Data collection strategies and triangulation of data.
    link_path: '/mp/#/datacollection'
    icon_path: /img/guide_icons/white_data_collection_methods.png
    quarter: winter
    date: 2017-01-26T00:00:00.000Z
    submission_type: final
  - title: Revised Literature Review
    description: Analysis of existing literature including gabs and shortcomings.
    link_path: '/mp/#/literaturereview'
    icon_path: /img/guide_icons/white_literature_review.png
    quarter: winter
    date: 2017-02-23T00:00:00.000Z
    submission_type: final
  - title: 'DRAFT: Data Results Summary'
    description: Summary of data collected.
    link_path: '/mp/#/datasummary'
    icon_path: /img/guide_icons/white_data_summary.png
    quarter: winter
    date: 2017-03-09T00:00:00.000Z
    submission_type: draft
  - title: 'DRAFT: Data Interpretation'
    description: 'Analysis of data collected, especially as it relates to MPQ and Literature'
    link_path: '/mp/#/datainterpretation'
    icon_path: /img/guide_icons/white_data_interpretation.png
    quarter: spring
    date: 2017-04-06T00:00:00.000Z
    submission_type: draft
  - title: Poster Session
    description: Research poster of MP sections so far.
    link_path: '/mp/#/posters'
    icon_path: /img/guide_icons/poster_session.png
    quarter: winter
    date: 2017-03-02T00:00:00.000Z
    submission_type: final
  - title: 'DRAFT: Conclusion'
    description: "Summary of findings/master's project."
    link_path: '/mp/#/conclusion'
    icon_path: /img/guide_icons/white_conclusion.png
    quarter: spring
    date: 2017-04-20T00:00:00.000Z
    submission_type: draft
  - title: Presentation
    description: "Final Presentation of Master's Project."
    link_path: '/mp/#/presentation'
    icon_path: /img/guide_icons/presentation.png
    quarter: spring
    date: 2017-05-25T00:00:00.000Z
    submission_type: final
  - title: Executive Summary
    description: 'A concise, yet thorough, overview of your study.'
    link_path: '/mp/#/executivesummary'
    icon_path: /img/guide_icons/white_executive_summary.png
    quarter: spring
    date: 2017-06-01T00:00:00.000Z
    submission_type: final
---
      <div class="no-hero-header">
          <h2>{{ page.title }}</h2>
          <p>Key MP milestones for 406, 407, and 408</p>
      </div>
      <div class="jump-to">
          <ul>
              <li><a href="#fall" class="smoothScroll">Fall Quarter</a></li>
              <li><a href="#winter" class="smoothScroll">Winter Quarter</a></li>
              <li><a href="#spring" class="smoothScroll">Spring Quarter</a></li>
          </ul>
      </div>
      {% assign sorted_items = page.timeline_entries | sort:"date" %}
      
    <section id="cd-timeline" class="cd-container">
    	<header id="fall" class="tip" data-tip="<ul class='no-padding'><li>Develop a research question </li><li>Form peer research support group(s) – instructors, coaches, peers, and other experts </li><li>Read in the topic area of your question </li><li>Acquire research knowledge and methods/skills – qualitative, quantitative, and mixed methods – through researchers, practitioners, and research examples  </li><li>Complete a rationale for MP </li><li>Define the domains of your question and reduce/synthesize the existing literature on your research question </li><li>Present preliminary literature findings and ideas to collect data  </li><li>Complete drafts of introduction and background of MP, literature review, and plan for collecting data Refine your research question</li></ul>">
            <h2 >Fall Quarter</h2>
            <div class="arrow-left"></div>
        </header>
		{% for item in sorted_items %}{% if item.quarter == 'fall'%}<div class="cd-timeline-block">
			<div class="cd-timeline-img {% if item.submission_type == 'final' %}cd-final{% elsif item.submission_type == 'draft' %}cd-draft{% endif %}">
				<img src="{{ item.icon_path | prepend:site.baseurl }}" alt="{{ item.title }} icon">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>{{ item.title }}</h2>
				<p>{{ item.description }}</p>
				<a href="{{ item.link_path | prepend:site.baseurl }}" class="cd-read-more">See Guide</a>
				<span class="cd-date">{{ item.date | date: "%a, %b %d, %Y" }}</span>
			</div> <!-- cd-timeline-content -->
		</div> {% endif %}{% endfor %}<!-- cd-timeline-block -->
		<header id="winter" class="tip" data-tip="<ul class='no-padding'><li>Continue collaboration with instructors, coaches, peers, and experts for feedback</li><li>Continue to learn data collection methods and techniques – surveys, interviews, artifact analysis, observation – including constructing instruments/protocols used and how to analyze the data, using classroom examples</li><li>Complete plan for ethical, field-based and/or existing data collection; submit for approval to Institutional Review Board, including appropriate recruitment and consent forms</li><li>Learn about analyzing data and writing an executive summary</li><li>Begin to collect and analyze data</li><li>Present at a poster session on research</li><li>Revise MPQ, introduction/background, and literature review</li></ul>">
            <h2>Winter Quarter</h2>
            <div class="arrow-left"></div>
        </header>
		{% for item in sorted_items %}{% if item.quarter == 'winter'%}<div class="cd-timeline-block">
			<div class="cd-timeline-img {% if item.submission_type == 'final' %}cd-final{% elsif item.submission_type == 'draft' %}cd-draft{% endif %}">
				<img src="{{ item.icon_path | prepend:site.baseurl }}" alt="{{ item.title }} icon">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>{{ item.title }}</h2>
				<p>{{ item.description }}</p>
				<a href="{{ item.link_path | prepend:site.baseurl }}" class="cd-read-more">See Guide</a>
				<span class="cd-date">{{ item.date | date: "%a, %b %d, %Y" }}</span>
			</div> <!-- cd-timeline-content -->
		</div> {% endif %}{% endfor %}<!-- cd-timeline-block -->
		<header id="spring" class="tip" data-tip="<ul class='no-padding'><li>Complete data collection by start of course</li><li>Continue collaboration with instructors, coaches, peers, and other experts</li><li>Analyze and summarize data – learn to display and reduce data</li><li>Interpret findings and integrate them with the literature review</li><li>Write conclusions</li><li>Present research to an audience</li><li>Prepare/organized finished copy of MP, including executive summary </li></ul>">
            <h2>Spring Quarter</h2>
            	<div class="arrow-left"></div>
        </header>
		{% for item in sorted_items %}{% if item.quarter == 'spring'%}<div class="cd-timeline-block">
			<div class="cd-timeline-img {% if item.submission_type == 'final' %}cd-final{% elsif item.submission_type == 'draft' %}cd-draft{% endif %}">
				<img src="{{ item.icon_path | prepend:site.baseurl }}" alt="{{ item.title }} icon">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>{{ item.title }}</h2>
				<p>{{ item.description }}</p>
				<a href="{{ item.link_path | prepend:site.baseurl }}" class="cd-read-more">See Guide</a>
				<span class="cd-date">{{ item.date | date: "%a, %b %d, %Y" }}</span>
			</div> <!-- cd-timeline-content -->
		</div> {% endif %}{% endfor %}<!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
	<div class="scrolltop">
        <p><a href="#top" class="smoothScroll"><i class="fa fa-arrow-up fa-lg"></i></a></p>
    </div>
<script src="{{ site.baseurl }}/js/cd-timeline.js"></script> <!-- Resource jQuery -->