---
layout: default
title: MP Timeline
header: false
timeline_entries:
  - title: Research Question
    description: The guiding question that your MP is aimed at answering.
    link_path: '/mp/#/researchquestions'
    icon_path: /img/guide_icons/research_question.png
    quarter: fall
    date: 2016-10-06T00:00:00.000Z
    submission_type: final
  - title: 'Literature Review'
    description: Analysis of existing literature including gaps and shortcomings.
    link_path: '/mp/#/literaturereview'
    icon_path: /img/guide_icons/literature_review.png
    quarter: fall
    date: 2016-11-17T00:00:00.000Z
    submission_type: draft
  - title: 'Introduction and Background'
    description: Overview and introduction to the MP including rationale.
    link_path: '/mp/#/introduction'
    icon_path: /img/guide_icons/intro-background.png
    quarter: fall
    date: 2016-11-17T00:00:00.000Z
    submission_type: draft
  - title: 'Data Collection Methods'
    description: Data collection strategies and triangulation of data.
    link_path: '/mp/#/datacollection'
    icon_path: /img/guide_icons/data_collection_methods.png
    quarter: fall
    date: 2016-12-01T00:00:00.000Z
    submission_type: draft
  - title: IRB Protocol
    description: Official research consent and ethics approval from Northwestern for data collection.
    link_path: '/mp/#/irb'
    icon_path: /img/guide_icons/irb_protocol.png
    quarter: winter
    date: 2017-01-12T00:00:00.000Z
    submission_type: final
  - title: Revised Data Collection Methods
    description: Data collection strategies and triangulation of data.
    link_path: '/mp/#/datacollection'
    icon_path: /img/guide_icons/data_collection_methods.png
    quarter: winter
    date: 2017-01-26T00:00:00.000Z
    submission_type: final
  - title: Revised Literature Review
    description: Analysis of existing literature including gabs and shortcomings.
    link_path: '/mp/#/literaturereview'
    icon_path: /img/guide_icons/literature_review.png
    quarter: winter
    date: 2017-02-23T00:00:00.000Z
    submission_type: final
  - title: 'DRAFT: Data Results Summary'
    description: Summary of data collected.
    link_path: '/mp/#/datasummary'
    icon_path: /img/guide_icons/data_summary.png
    quarter: winter
    date: 2017-03-09T00:00:00.000Z
    submission_type: draft
  - title: 'DRAFT: Data Interpretation'
    description: 'Analysis of data collected, especially as it relates to MPQ and Literature'
    link_path: '/mp/#/datainterpretation'
    icon_path: /img/guide_icons/data_interpretation.png
    quarter: spring
    date: 2017-04-06T00:00:00.000Z
    submission_type: draft
  - title: Poster Session
    description: Research poster of MP sections so far.
    link_path: '/mp/#/posters'
    icon_path: /img/guide_icons/poster_session.png
    quarter: winter
    date: 2017-03-02T00:00:00.000Z
    submission_type: final
  - title: 'DRAFT: Conclusion'
    description: "Summary of findings/master's project."
    link_path: '/mp/#/conclusion'
    icon_path: /img/guide_icons/conclusion.png
    quarter: spring
    date: 2017-04-20T00:00:00.000Z
    submission_type: draft
  - title: Presentation
    description: "Final Presentation of Master's Project."
    link_path: '/mp/#/presentation'
    icon_path: /img/guide_icons/presentation.png
    quarter: spring
    date: 2017-05-25T00:00:00.000Z
    submission_type: final
  - title: Executive Summary
    description: 'A concise, yet thorough, overview of your study.'
    link_path: '/mp/#/executivesummary'
    icon_path: /img/guide_icons/executive_summary.png
    quarter: spring
    date: 2017-06-01T00:00:00.000Z
    submission_type: final
  - title: Beyond the Master's Project
    description: 'What to do when you are done with your project.'
    link_path: '/mp/#/beyondthemp'
    icon_path: /img/guide_icons/beyond_mp.png
    quarter: beyond mp
    date: 2017-06-01T00:00:00.000Z
    submission_type: final
---
<div class="no-hero-header" id="top">
    <h2>{{ page.title }}</h2>
    <p>Key MP milestones for 406, 407, and 408</p>
</div>
<br>
<section class="container wide">
  <div class="cd-timeline cd-active">
    <div class="cd-timeline-arrow-after"></div>
      <div class="cd-timeline-section-content editable">
           <h4>Fall Quarter</h4>
           <p class="subtitle">MSHE 406: Research and Analysis I: Question Development, Literature Review, Data Collection Planning<p>
           <ul>
            <li>Develop and refine a research question</li>
            <li>Form peer research support group(s) &ndash; instructors, coaches, peers, and other experts</li>
            <li>Read in the topic area of your question</li>
            <li>Acquire research knowledge (qualitative, quantitative, and mixed methods) and methods/skills (interview, using existing surveys and artifact analysis, observation) through researchers, practitioners, and research examples</li>
            <li>Complete a rationale for MP</li>
            <li>Define the domains of your question and reduce/synthesize the existing literature on your research question</li>
            <li>Present preliminary literature outline and ideas to collect data</li>
            <li>Complete introduction and background of MP and literature review</li>
            <li>Complete preliminary plan for collecting data and submitting to IRB</li>
            </ul>
      </div>
    {% for item in page.timeline_entries %}{% if item.quarter == 'fall' %}
    <div class="cd-timeline-item">
      <div class="cd-timeline-item-marker">
        <img src="{{ item.icon_path | prepend:site.baseurl }}">
        <div class="cd-marker-arrow"></div>
      </div>
      <a href="{{ item.link_path | prepend:site.baseurl }}"><h3>{{ item.title }}<i class="fa fa-chevron-right" aria-hidden="true"></i></h3></a>
      <div class="cd-timeline-item-details">
        {% if item.submission_type == 'draft' %}<p class="subheader"><i class="fa fa-file-o" aria-hidden="true"></i> DRAFT</p>{% endif %}
        <p>{{ item.description }}</p>
      </div>
    </div>
    {% endif %}{% endfor %}
  </div>
  <div class="cd-timeline">
    <div class="cd-timeline-arrow-after"></div>
    <div class="cd-timeline-arrow-before"></div>
      <div class="cd-timeline-section-content editable">
           <h4>Winter Quarter</h4>
           <p class="subtitle">MSHE 407: Research and Analysis II: Research Methodology and Data Collection<p>
           <ul>
            <li>Continue collaboration with instructors, coaches, peers, and experts for feedback</li>
            <li>Continue to learn data collection methods and techniques &ndash; surveys, interviews, artifact analysis, observation &ndash; including constructing instruments/protocols used and how to analyze the data, using classroom examples</li>
            <li>Complete plan for ethical, field-based and/or existing data collection; submit for approval to Institutional Review Board, including appropriate recruitment and consent forms</li>
            <li>Learn about coding and analyzing data</li>
            <li>Collect and start to analyze data</li>
            <li>Present at a poster session on research in class</li>
            <li>Revise MPQ, introduction/background, and literature review</li>
            </ul>
      </div>
    {% for item in page.timeline_entries %}{% if item.quarter == 'winter' %}
    <div class="cd-timeline-item">
      <div class="cd-timeline-item-marker">
        <img src="{{ item.icon_path | prepend:site.baseurl }}">
        <div class="cd-marker-arrow"></div>
      </div>
      <a href="{{ item.link_path | prepend:site.baseurl }}"><h3>{{ item.title }}<i class="fa fa-chevron-right" aria-hidden="true"></i></h3></a>
      <div class="cd-timeline-item-details">
        {% if item.submission_type == 'draft' %}<p class="subheader"><i class="fa fa-file-o" aria-hidden="true"></i> DRAFT</p>{% endif %}
        <p>{{ item.description }}</p>
      </div>
    </div>
    {% endif %}{% endfor %}
  </div>
  <div class="cd-timeline">
    <div class="cd-timeline-arrow-after"></div>
    <div class="cd-timeline-arrow-before"></div>
      <div class="cd-timeline-section-content editable">
           <h4>Spring Quarter</h4>
           <p class="subtitle">MSHE 408: Research and Analysis III: Analysis, Interpretation, and Dissemination<p>
           <ul>
            <li>Complete data collection and coding by start of course</li>
            <li>Continue collaboration with instructors, coaches, peers, and other experts</li>
            <li>Analyze and summarize data &ndash; learn to display and reduce data</li>
            <li>Interpret findings and integrate them with the literature review</li>
            <li>Write conclusions</li>
            <li>Present research to an audience</li>
            <li>Prepare/organized finished copy of MP</li>
            <li>Complete executive summary</li>
            </ul>
      </div>
    {% for item in page.timeline_entries %}{% if item.quarter == 'spring' %}
    <div class="cd-timeline-item">
      <div class="cd-timeline-item-marker">
        <img src="{{ item.icon_path | prepend:site.baseurl }}">
        <div class="cd-marker-arrow"></div>
      </div>
      <a href="{{ item.link_path | prepend:site.baseurl }}"><h3>{{ item.title }}<i class="fa fa-chevron-right" aria-hidden="true"></i></h3></a>
      <div class="cd-timeline-item-details">
        {% if item.submission_type == 'draft' %}<p class="subheader"><i class="fa fa-file-o" aria-hidden="true"></i> DRAFT</p>{% endif %}
        <p>{{ item.description }}</p>
      </div>
    </div>
    {% endif %}{% endfor %}
  </div>
  <div class="cd-timeline">
    <div class="cd-timeline-arrow-after"></div>
    <div class="cd-timeline-arrow-before"></div>
      <div class="cd-timeline-section-content editable">
           <h4>Beyond the Master's Project</h4>
           <ul>
            <li>Ask new questions, propose new steps</li>
            <li>Collaborate with practitioner colleagues</li>
            <li>Do institutional and assessment research/inquiry</li>
            <li>Share research with a wider audience by writing for publication and/or presenting at conferences</li>
            </ul>
      </div>
    {% for item in page.timeline_entries %}{% if item.quarter == 'beyond mp' %}
    <div class="cd-timeline-item">
      <div class="cd-timeline-item-marker">
        <img src="{{ item.icon_path | prepend:site.baseurl }}">
        <div class="cd-marker-arrow"></div>
      </div>
      <a href="{{ item.link_path | prepend:site.baseurl }}"><h3>{{ item.title }}<i class="fa fa-chevron-right" aria-hidden="true"></i></h3></a>
      <div class="cd-timeline-item-details">
        {% if item.submission_type == 'draft' %}<p class="subheader"><i class="fa fa-file-o" aria-hidden="true"></i> DRAFT</p>{% endif %}
        <p>{{ item.description }}</p>
      </div>
    </div>
    {% endif %}{% endfor %}
    <br>
    <br>
  </div>
  <br>
  <p style="float:right;"><a href="https://northwestern.box.com/shared/static/r65fjrov547ewi38hmoey5zy63djmo21.doc"><i class="fa fa-file-text-o" aria-hidden="true"></i> Download Word Version <i class="fa fa-download fa-sm" aria-hidden="true"></i></a></p>
</section>
<br>
