<!DOCTYPE html>
<html ng-app="topicsApp">
<head>
    {% if page.title %}
    <title>MSHE | {{ page.title }}</title>
    {% else %}
    <title>MSHE Student Resources</title>
    {% endif %}
    <meta name="author" content="Derek Thurber">
    <meta name="description" content="The Student Resources for the Master of Science in Higher Education Administration and Policy Program at Northwestern University">
    <link rel="icon" type="image/ico" href="{{ site.baseurl }}/img/favicon.ico">
    <!--stylesheets-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/reset.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/base.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="{{ site.baseurl }}/tipuesearch/tipuesearch.css" rel="stylesheet">
    <!--jquery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script async="" defer="" src="//survey.g.doubleclick.net/async_survey?site=l5uivyigcjgba"></script>
</head>
<body ng-controller="mainController">
    <header>
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/MSHE-horizontal-option2-02.png" alt="MSHE Logo"></img></a>
        <form action="{{ site.baseurl }}/search">
        <input type="text" name="q" id="tipue_search_input" autocomplete="off" placeholder="Search" required>
        </form>
        <nav>
            <ul>
            {% for nav_item in site.data.nav %}
                {% if page.url == nav_item.link %}
                <li><a class="active" href="{{ nav_item.link | prepend:site.baseurl }}">{{ nav_item.name }}</a></li>
                {% else %}
                <li><a href="{{ nav_item.link | prepend:site.baseurl }}">{{ nav_item.name }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
        </nav>
    </header>
    
    {{ content }}
    
    <section class="sitemap">
        <div class="three-columns">
            <div class="column">
                <h4>Explore</h4>
                <p><a href="index.html">Search</a></p>
                <p><a href="topics.html">Topics</a></p>
            </div>
            <div class="column">
                <h4>Stay Connected</h4>
                <p><i class="fa fa-facebook-square" aria-hidden="true"></i><a href="https://www.facebook.com/pages/Northwestern-University-Higher-Education-Administration-and-Policy-Program/417734068297949" target="_blank"> Facebook</a></p>
                <p><i class="fa fa-twitter-square" aria-hidden="true"></i><a href="https://twitter.com/NU_HigherEd" target="_blank"> Twitter</a></p>
                <p><i class="fa fa-instagram" aria-hidden="true"></i><a href="https://www.instagram.com/nu_mshe/" target="_blank"> Instagram</a></p>
            </div>
            <div class="column">
                <h4>Contact</h4>
                <div class="contact-block">
                    <p>Ask a Question:</p>
                    <p><a href="mailto:ms-highered@northwestern.edu">ms-highered@northwestern.edu</a></p>
                </div>
                <div class="contact-block">
                    <p>Academic Advising:</p>
                    <p><a href="mailto:kristin.mccann1@northwestern.edu">kristin.mccann1@northwestern.edu</a></p>
                </div>
                <div class="contact-block">
                    <p>Suggest a Topic:</p>
                    <p><a href="mailto:derek.thurber@northwestern.edu">derek.thurber@northwestern.edu</a></p>
                </div>
            </div>
            
        </div>
    </section>
    <footer>
        <p><span class="purple"><strong>Copyright </strong></span><i class="fa fa-copyright" aria-hidden="true"></i> 2016</p>
        <p>Designed by <strong>Derek Thurber </strong></p>
    </footer>
    
    <!--angularjs libraries-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <!--mixitup jquery plugin library-->
    <script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
    <!--site js files-->
    <script src="{{ site.baseurl }}/js/app.js"></script>
     {% if page.search %}
     <!--tipue search js files-->
    <script src="{{ site.baseurl }}/tipuesearch/tipuesearch_set.js"></script>
    <script src="{{ site.baseurl }}/tipuesearch/tipuesearch.min.js"></script>
    {% endif %}
    {% if page.comments %}
    <!--Disqus js-->
    <script id="dsq-count-scr" src="//mshestudentresources.disqus.com/count.js" async></script>
    {% endif %}
    <!--analytics-->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69072426-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>