---
layout: default
---
<section class="container">
    <div class="breadcrumbs">
        <p><a href="{{ site.baseurl }}/info">Topics</a> > {{ page.title }}</p>
    </div>
    <div class="info-page-header">
        <h2>{{ page.title }}</h2>
    </div>
    <p class="subheader bottom-line">{{ page.categories | join: ', ' | upcase }} </p>
    <p>{{ page.description }}</p>
    {{ page.content }}
    <div class="related-container">
    <h4>Related Content</h4>
    <div class="three-columns related">
        {% for item in site.info limit:3 %}
        {% if item.categories contains page.categories[0] and item.title != page.title %}
        <div class="column related-info">
            <h5><a href="{{ item.url }}">{{ item.title }}</a></h5>
            <p>{{ item.description | truncate: 150, '...' }}</p>
        </div>
        {% endif %}
        {% if item.categories contains page.categories[1] and item.title != page.title %}
        <div class="column related-info">
            <h5><a href="{{ item.url }}">{{ item.title }}</a></h5>
            <p>{{ item.description | truncate: 150, '...' }}</p>
        </div>
        {% endif %}
        {% if item.categories contains page.categories[2] and item.title != page.title %}
        <div class="column related-info">
            <h5><a href="{{ item.url }}">{{ item.title }}</a></h5>
            <p>{{ item.description | truncate: 150, '...' }}</p>
        </div>
        {% endif %}
        {% if item.categories contains page.categories[3] and item.title != page.title %}
        <div class="column related-info">
            <h5><a href="{{ item.url }}">{{ item.title }}</a></h5>
            <p>{{ item.description | truncate: 150, '...' }}</p>
        </div>
        {% endif %}
        {% if item.categories contains page.categories[4] and item.title != page.title %}
        <div class="column related-info">
            <h5><a href="{{ item.url }}">{{ item.title }}</a></h5>
            <p>{{ item.description | truncate: 150, '...' }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    </div>
    <div id="disqus_thread"></div>
    <script>
    /**
    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
    */
    var disqus_developer = 1; // Comment out when the site is live
    var disqus_config = function () {
    // this.page.url = "{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    
    s.src = '//mshestudentresources.disqus.com/embed.js';
    
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    
</section>