---
layout: default
---
<div class="info-page-hero">
  <div class="info-page-header" id="top">
      <h2>MP Guides</h2>
      <p>Master's project aids, handouts, resources, rubrics, tools, templates and more.</p>
  </div>
</div>
<section class="main">
    <div class="container wide light">
        <p>You are here: &nbsp;&nbsp;&nbsp; <a href="{{ site.baseurl }}/mp/">MP Guides</a> > {{ page.title }}</p>
        <div class="inner-wrapper">
        <h2>{{ page.title }}</h2>
        {{ page.content }}
        </div>
    </div>
</section>