---
layout: default
---
<div class="info-page-hero">
  <div class="info-page-header">
      <h2>{{ page.title }}</h2>
  </div>
</div>
<section class="container">
  
    <div class="breadcrumbs">
        <p>You are here: &nbsp;&nbsp;&nbsp; <a href="{{ site.baseurl }}/workshops/">Workshops</a> > {{ page.title }}</p>
    </div>
    
    
    {% if page.upcoming_workshop.scheduled == true %}<blockquote>
        <p class="upcoming-date"><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Next workshop:</strong> {{ page.upcoming_workshop.upcoming_date | date: "%a, %b %-d, %Y" }} at {{ page.upcoming_workshop.start_time }} - {{ page.upcoming_workshop.end_time }} // {{ page.upcoming_workshop.location }}</p>
    </blockquote>{% endif %}
    
    <p>{{ page.description }}</p>
    {{ page.content }}
</section>

<br /><br />