---
layout: default
---
<div class="info-page-hero">
  <div class="info-page-header">
      <h2>{{ page.title }}</h2>
  </div>
</div>
<section class="container">
  
    <div class="breadcrumbs">
        <p>You are here: &nbsp;&nbsp;&nbsp; <a href="{{ site.baseurl }}/workshops/">Workshops</a> > {{ page.title }}</p>
    </div>
    
    <div class="upcoming-date">
        <p><i class="fa fa-calendar" aria-hidden="true"></i> Next workshop: {% if page.date != '' %}{{ page.upcoming_date | date: "%a, %b %d, %y" }} at {{ page.upcoming_time }}{% else %} None schedule. Check back for updates. {% endif %}</p>
    </div>
    
    <p>{{ page.description }}</p>
    {{ page.content }}
</section>

</section>